@import "~assets/styles/colors";
@import "~assets/styles/sizes";
@import "~modules/application/shell/shell-common";

:host {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: $menu-bar-width 1fr;
	grid-template-rows: $application-header-height 1fr $application-footer-height;
	grid-template-areas: "menu-bar app-header" "menu-bar content-holder" "menu-bar app-footer";
	background-color: $grey-100;

	.menu-bar {
		grid-area: menu-bar;
	}

	.application-header {
		grid-area: app-header;
		background-color: $grey-200;
	}

	.content-holder {
		grid-area: content-holder;
		padding: $grid-step * 2.5 $grid-step * 5;
		background-color: $grey-100;
		overflow-x: hidden;
		overflow-y: auto;
		display: flex;
		flex-flow: column nowrap;

		&::ng-deep router-outlet + * {
			flex-grow: 1;
		}
	}

	.application-footer {
		grid-area: app-footer;
		background-color: $grey-200;
	}
}
