@import "~assets/styles/sizes";
@import "~assets/styles/colors";
@import "~assets/styles/typography";

@mixin wall-of-text {
	p {
		margin-bottom: $base-line-height-m;
	}
}

:host {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: "form description";
	grid-gap: $grid-step * 4;

	.user-editor {
		grid-area: form;
	}

	.description {
		grid-area: description;

		@include base-font(m, light);
		@include wall-of-text;
	}

	.create-button {
		padding: $grid-step;
		margin-top: $grid-step * 4;
	}
}
