@import "~assets/styles/sizes";

:host {
	.field-editor {
		display: flex;
		align-content: center;
		width: 100%;

		.path-edit {
			flex: 1 1 400px;
		}

		.open-dialog {
			margin-left: $grid-step;
		}
	}
}
