@import "~assets/styles/colors";

$fontFamily: "Montserrat-Regular";
$fontSize: 1em; /* stylelint-disable-line unit-blacklist */
$borderRadius: 0;
$disabledOpacity: 0.35;

//Header
$headerBorderWidth: 1px;
$headerBorderColor: #aed0ea;
$headerBgColor: #deedf7;
$headerTextColor: #222222;
$headerFontWeight: bold;
$headerIconTextColor: #222222;

//Content
$contentBorderWidth: 1px;
$contentBorderColor: #dddddd;
$contentBgColor: $grey-200;
$contentTextColor: $grey-1000;

//Default State
$stateDefaultBorderWidth: 1px;
$stateDefaultBorderColor: $general-border-color;
$stateDefaultBgColor: $grey-300;
$stateDefaultTextColor: $general-text-color;

//Active State
$stateActiveBorderColor: $general-border-color;
$stateActiveBgColor: $grey-300;
$stateActiveTextColor: $general-text-color;

//Highlight State
$stateHighlightBorderColor: $grey-800;
$stateHighlightBgColor: #ffef8f;
$stateHighlightTextColor: #363636;

//Focus State
$stateFocusBorderColor: $grey-1000;
$stateFocusBgColor: $grey-300;
$stateFocusTextColor: $grey-1000;

//Error State
$stateErrorBorderColor: $error-color;
$stateErrorBgColor: $error-color;
$stateErrorTextColor: $grey-1000;

//Hover State
$stateHoverBorderColor: $grey-1000;
$stateHoverBgColor: $grey-300;
$stateHoverTextColor: $grey-1000;

//Forms
$inputBgColor: $grey-200;
$inputTextColor: $grey-1000;
$invalidInputBorderColor: $error-color;
$inputGroupTextColor: #2779aa;

@import "~primeng/resources/themes/theme";

.ui-inputtext:focus {
	box-shadow: none;
}
