// The font size set on the root html element.
$base-font-size: 16px !default;

// The base line height determines the basic unit of vertical rhythm.
$base-line-height: 24px !default;

@font-face {
	font-family: "jura-light";
	src: url("~assets/fonts/Jura-Light.ttf");
}

@font-face {
	font-family: "jura-regular";
	src: url("~assets/fonts/Jura-Regular.ttf");
}

@font-face {
	font-family: "jura-medium";
	src: url("~assets/fonts/Jura-Medium.ttf");
}

@font-face {
	font-family: "jura-semibold";
	src: url("~assets/fonts/Jura-SemiBold.ttf");
}

@font-face {
	font-family: "jura-bold";
	src: url("~assets/fonts/Jura-Bold.ttf");
}

@font-face {
	font-family: "Montserrat-Thin";
	src: url("~assets/fonts/Montserrat-Thin.ttf");
}

@font-face {
	font-family: "Montserrat-Light";
	src: url("~assets/fonts/Montserrat-Light.ttf");
}

@font-face {
	font-family: "Montserrat-Regular";
	src: url("~assets/fonts/Montserrat-Regular.ttf");
}

@font-face {
	font-family: "Montserrat-Medium";
	src: url("~assets/fonts/Montserrat-Medium.ttf");
}

@font-face {
	font-family: "Montserrat-SemiBold";
	src: url("~assets/fonts/Montserrat-SemiBold.ttf");
}

@font-face {
	font-family: "Montserrat-Bold";
	src: url("~assets/fonts/Montserrat-Bold.ttf");
}

$base-font-family: "Montserrat-Regular";
