<form class="form" #form="ngForm">
	<div class="field-holder">
		<label class="field-name">Name:</label>
		<input type="text" pInputText [(ngModel)]="user.name" name="name" required minlength="4"/>
	</div>
	<div class="field-holder">
		<label class="field-name">E-Mail address:</label>
		<input type="text" pInputText [(ngModel)]="user.email" name="email" email/>
	</div>
	<div class="field-holder">
		<p-checkbox [(ngModel)]="user.isLogInRequired" binary="true" name="isLogInRequired" label="Login required"></p-checkbox>
	</div>
	<div class="field-holder">
		<label class="field-name">Password:</label>
		<input type="password" pPassword [(ngModel)]="user.password" name="password" [disabled]="!user.isLogInRequired" required/>
	</div>
</form>
