@import "~assets/styles/sizes";

:host {
	display: flex;
	flex-flow: column nowrap;
	align-content: stretch;
	align-items: stretch;

	mat-card-title {
		margin-bottom: 24px;
	}

	.profile-name {
		flex-grow: 1;
		margin-right: $grid-step * 2;
	}

	.item-command {
		flex-grow: 0;
	}

	.add-command {
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.profile-name-subsection {
		display: flex;
		flex-flow: row nowrap;
		margin-bottom: $grid-step * 2;
	}

	.profile-list {
		flex-grow: 1;
		align-self: stretch;

		li {
			display: flex;
			flex-flow: row nowrap;
			margin-bottom: $grid-step * 2;
		}
	}
}
